### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [4]:
player_count = len(purchase_data["SN"].unique())
print(f"Total Number of Players: {player_count}")

Total Number of Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
num_items = len(purchase_data["Item Name"].unique())
avg_price = purchase_data["Price"].mean()
num_purch = purchase_data["Purchase ID"].count()
total_rev = purchase_data["Price"].sum()

purchasing_analysis = pd.DataFrame({"Number of Unique Items": [num_items],
                              "Average Price": avg_price,
                              "Number of Purchases": num_purch,
                              "Total Revenue": total_rev})

format_dict = {"Average Price": "${0:,.2f}","Total Revenue": "${0:,.2f}"}
purchasing_analysis.style.format(format_dict).hide_index()

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
gender_df = purchase_data[["SN", "Gender"]]
dropdups_gender_df = gender_df.drop_duplicates()
clean_gender_df = dropdups_gender_df.rename(columns={"SN":"Total Count"})

gender_groups = clean_gender_df.groupby([pd.Grouper(key="Gender")])["Total Count"].agg("count").reset_index()

pct_of_total = gender_groups["Total Count"] / player_count
gender_groups["Percentage of Players"] = pct_of_total

format_dict = {"Percentage of Players": "{:.2%}"}
gender_groups.style.format(format_dict).hide_index()


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
purchase_rev_gen = purchase_data.groupby("Gender").sum()["Price"]
purchase_count_gen = purchase_data.groupby("Gender").count()["SN"]
avg_price_gen = purchase_data.groupby("Gender").mean()["Price"]

avg_per_person = purchase_rev_gen / purchase_count_gen

purchasing_analysis_gen = pd.DataFrame({"Purchase Count": purchase_count_gen, 
                                "Average Purchase Price": avg_price_gen,
                                "Total Purchase Value": purchase_count_gen,
                                "Average Total Purchase per Person": avg_per_person})

format_dict = {"Average Purchase Price": "${0:,.2f}",
               "Total Purchase Value": "${0:,.2f}",
               "Average Total Purchase per Person": "${0:,.2f}"}
purchasing_analysis_gen.style.format(format_dict)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 999]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], age_bins, labels=age_groups, include_lowest=True)

num_grouped_ages = purchase_data.groupby("Age Groups").count()["Age"]
age_PoP = num_grouped_ages / player_count

age_demographics = pd.DataFrame({"Total Count": num_grouped_ages,
                                "Percentage of Players": age_PoP})

format_dict = {"Percentage of Players": "{:.2%}"}
age_demographics.style.format(format_dict)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=age_groups, include_lowest=True)

age_purchase_total = purchase_data.groupby(["Age Ranges"]).sum()["Price"]
age_purchase_average = purchase_data.groupby(["Age Ranges"]).mean()["Price"]
age_counts = purchase_data.groupby(["Age Ranges"]).count()["Price"]

age_avg_per_person = age_purchase_total / age_demographics["Total Count"]

purchasing_analysis_age = pd.DataFrame({"Purchase Count": age_counts, 
                                "Average Purchase Price": age_purchase_average,
                                "Total Purchase Value": age_purchase_total,
                                "Average Total Purchase per Person": age_avg_per_person})

format_dict = {"Average Purchase Price": "${0:,.2f}",
               "Total Purchase Value": "${0:,.2f}",
               "Average Total Purchase per Person": "${0:,.2f}"}
purchasing_analysis_age.style.format(format_dict)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
user_total_purchase_value = purchase_data.groupby(["SN"]).sum()["Price"]
user_average_purchase_price = purchase_data.groupby(["SN"]).mean()["Price"]
user_purchase_count = purchase_data.groupby(["SN"]).count()["Price"]

top_spenders = pd.DataFrame({"Purchase Count": user_purchase_count, 
                                "Average Purchase Price": user_average_purchase_price,
                                "Total Purchase Value": user_total_purchase_value})

format_dict = {"Average Purchase Price": "${0:,.2f}",
               "Total Purchase Value": "${0:,.2f}"}
top_spenders.sort_values("Total Purchase Value", ascending=False).head(5).style.format(format_dict)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
items_df = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

total_purchase_val = items_df.groupby(["Item ID", "Item Name"]).sum()["Price"]
purchase_count = items_df.groupby(["Item ID", "Item Name"]).count()["Price"]
item_price = items_df.groupby(["Item ID", "Item Name"]).sum()["Price"] / purchase_count

most_popular_items = pd.DataFrame({"Purchase Count": purchase_count,
                                   "Item Price": item_price,
                                   "Total Purchase Value": total_purchase_val})

format_dict = {"Item Price": "${0:,.2f}","Total Purchase Value": "${0:,.2f}"}
most_popular_items.sort_values("Purchase Count", ascending=False).head(5).style.format(format_dict)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
format_dict = {"Item Price": "${0:,.2f}","Total Purchase Value": "${0:,.2f}"}
most_popular_items.sort_values("Total Purchase Value", ascending=False).head(5).style.format(format_dict)